# Assignment - Python Programming Basics

**Instruction:** Answer each question on a separate cell, either in a markdown or code cell depending on the question.

## Question 1

1. Why is consistent indentation important in Python, and what error does Python throw if the indentation in inconsistent?

In [ ]:
  Consistent indentation is important in Python because Python relies on consistent indentation to define the structure of your code such as function definitions.

   The error code display is as follows
   IndentationError: unexpected indent

## Question 2

2. What are the mutable and immutable data types in Python? Give two examples of each.

   Mutable data types are those data types that their values can be changed after creation.
   Example : list and set

   Immutable data types are those data types whose values cannot be changed after creation.
   Example : tuple and float

## Question 3

3. How do you convert a floating-point number to an integer, and what happenss to the fractional part after conversion?

## Question 4

4. What is the difference between a list and a tuple?

In [ ]:
The difference between a list and a tuple is that, a list start with a square bracket such as [], while a tuple starts with a normal bracket such as ().

## Question 5

5. print out the datatype for the following variables? 
   ```python
   a = 123
   b = [1, 2, 3]
   c = "Python programming Language"
   d = (1, 2, 3)
   e = {"A": 1, "B": 2, "C": 3}
    ```

In [11]:
a = 123
b = [1,2,3]
c = "Python programming Language"
d = (1,2,3)
e = {"A": 1, "B": 2, "C": 3}

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'list'>
<class 'str'>
<class 'tuple'>
<class 'dict'>

## Question 6

6. What is the difference between a comment and a docstring in Python, and how does Python treat each differently?

A Comment is a word a prorammer can used to explain his/her codes in python. Python don't run comments, and it starts with an # symbol. Example : # you are a girl
While a Docstring is noticed by python, but doesn't execute it. it's syntax is triple quote, either single quote or double quote. Example, """ i love this girl"""

## Question 7

7. Do the following conversions and print out their new datatypes (Hint: use the type() function).
  - ```1234``` to ```str```
  - ```"iPython"``` to ```list```
  - ```23.5``` to ```int```
  - ```45``` to ```float```

In [81]:
int = 1234

str(int)

'1234'

In [85]:
string = "ipython"
list(string)

['i', 'p', 'y', 't', 'h', 'o', 'n']

In [91]:
U_int = 45
float(U_int)

TypeError: 'float' object is not callable

## Question 8

8. Create a dictionary containing the following information (you can just make up the information):
    - Name (Use your name here)
    - Age
    - Sex
    - Profession
    - Religion
    - Nationality

In [31]:
my_dict = {"Name" : "Nkechika Collins Akpe", "Age" : 23, "Sex" : "Female", "Profession" : "Scientist", "Religion" : "Christainity", "Nationality" : "Ghanian"}
print(my_dict)

{'Name': 'Nkechika Collins Akpe', 'Age': 23, 'Sex': 'Female', 'Profession': 'Scientist', 'Religion': 'Christainity', 'Nationality': 'Ghanian'}

## Question 9

9. Change the elements at index 3, 6, and 7 of the list ```[24, 56, "programming", "javascript", 56, 54.3, "data analytics", "Argentina"]``` to "python", "data science", and "Nigeria" respectfully.

In [27]:
my_list = [24, 56, "programming", "javascript", 56,54.3, "data analytics", "Argentina"]
my_list[3] = "python"
my_list[6] = "data science"
my_list[7] = "Nigeria"
print(my_list)

[24, 56, 'programming', 'python', 56, 54.3, 'data science', 'Nigeria']

## Question 10

- Create a list, tuple and set containing 10 elements each, having a mix of integer, float and string datatypes.

In [ ]:
A_list = [23, 24.5, "book", "school", 32, 29, 28.9, "estate", "country", 78.2]
A_tuple = (10.0, 20.0, 30.0, 40.0, 43, 45, 65, "girl", "boy", "male")
A_set = {"big", "small", "slim", "fat", 23, 21, 34.2, 26,8, 87.2, 66}